---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import CursorShader from '../components/CursorShader.astro';
import github from '../assets/icons/github.svg?raw';
---

<Layout title="Welcome to frontend.lol">
		<div class="h-screen w-screen flex-center  flex-col text-white bg-transparent">
			<h1 class="text-6xl font-bold z-20">
			Frontend.lol
		</h1>
		<span class="font-medium z-20">
			Building tools for the web. 
		</span>
		<div class="flex flex-col items-center justify-center space-x-4 mt-4">
			<a href="https://github.com/frontend-lol" 
				class="flex flex-row items-center z-20 space-x-2 underline-offset-2 underline bg-transparent  rounded-full">
				<span class="font-medium">
					Github
				</span>
			</a>
			<br />
			<br />
			<a href="https://tailwind-snippets-zeta.vercel.app/" 
				class="flex flex-row items-center z-20 space-x-2 underline-offset-2 underline bg-transparent text-orange-400 rounded-full">
				<Fragment set:html={github} class="w-6 h-6 text-white" />
				<span class="font-medium">
					Tailwind Snippets (cooking🍳)
				</span>
			</a>
		</div>
		<div class='absolute z-10 inset-0 w-full h-full'>
			<CursorShader />
			</div>
		</div>
		
	</main>

</Layout>

